[*.cs]

# IDE0025: Usar cuerpo de expresiones para las propiedades
dotnet_diagnostic.IDE0025.severity = silent

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none
